body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
.orange-color {
    color: #FFA500;
}
.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.header {
    
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width p {
    text-align: justify;
    color: #696969;
}
.half-width {
    width: 50%;
    padding-left: 2%;
}
.my-bg {
    width: 80%;
    margin-top: 60px;
}
.link-button {
    color: #ffffff;
    padding: 10px 40px;
    background-image: linear-gradient(143deg, #F9765E 30%, #F78868 100%);
    border-radius: 5px;
    text-decoration: none;
}
.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
}
.about {
    padding: 0 30px 0 0;
}
.side-color {
    width: 45%;
    margin: 0 5%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    padding: 0 20px;
}
.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 70px;
}
.experience .border-color0 {
    border-left: 7px solid;
    border-image: linear-gradient(to bottom, #eb4d4b, #ff7979);
    border-image-slice: 1;
}
.experience .border-color1 {
    border-left: 7px solid;
    border-image: linear-gradient(to bottom, blue, cyan);
    border-image-slice: 1;
}
footer p {
    text-align: center;
    color: #696969;
}